footer{
    position: relative;
    background-color: #A2CA71;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20px;
    /* margin-top: 10%; */
}

#human{
    position: absolute;
    right: 0;
    bottom:0;
    width: 35%;
  }

  @media screen and (max-width: 768px) {
    #human {
      display: none;
    }
  }