#signinForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
#signinForm a{
    font-size: 12px;
}
#signinForm label{
    font-size: 12px;
    margin-top: 10px;
}
#submit{
    background-color: #A2CA71;
    border-radius: 10px;
    text-decoration: none;
    color:white;
    padding: 5px 30px 5px 30px;
    transition: 1s;
    border: none;
    font-size: 12px;
    margin-top: 10px;

}
#signinForm form{
    display:grid;
    
}

#signinForm form input{
    width: 200px;
}
