@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{

}
    

nav{
    background-color: #A2CA71;
    position: fixed;
    z-index: 100;
    margin-top: 0;
    
}
#sidebar a{
    background-color: transparent;
    border: none;
}
#sidebar img{
    width: 30px;
    background-color: transparent;
}
#productCategory ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    
}
#productCategory ul li:hover{

    background-color: #A2CA71;
    transition: .2s;
}

#productCategory ul a{
    text-decoration: none;
    color: black;
    
}


/* section ====================================================== */

  
  .category {
    border: 1px solid #ccc;
    padding: 10%;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack items vertically */
    height: 100%;
  }
  
  .category:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .category img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 20%;
    margin-bottom: 10px;
  }
  
  .category h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .category p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .category button {
    padding: 8px 15px;
    margin: 0% 10%;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Push button to bottom */
    text-decoration: none;
  }
  
  .category button:hover {
    background-color: #45a049;
  }

  .category a {
    padding: 8px 15px;
    margin: 0% 10%;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Push button to bottom */
    text-decoration: none;
  }
  
  .category a:hover {
    background-color: #45a049;
  }
  
  .cart-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #cart-link {
    position: relative; /* For positioning the cart count */
  }

  #cart-count {
    position: absolute;
    top: -5px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }