#section1{
    background-color: #A2CA71;
    height: 55%;
    padding-top: 1%;
    padding-bottom: 50px;
    box-shadow: 1px 1px 20px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../images/agriculture/aerial-view-rice-terrace-ban-pa-bong-piang-chiang-mai-thailand.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
#section1 #content{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* #content{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
/* #content1 img{
   
} */

#content1 a{
        background-color: #387F39;
        border-radius: 10px;
        text-decoration: none;
        color:rgb(255, 255, 255);
        padding: 8px 30px 8px 30px;
        transition: 1s;
        border: 1px solid #387F39;
}
#content1 a:hover{
    box-shadow: inset 1px 1px 2px black;
}


#content1 h1{
    font-weight: 700;
    font-size: 3rem;
    transition: 1s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px #000000;
}
#content1 p{
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

#content1 h1:hover{
    color: white;
    scale: 1.02;
}
#contentImg{
    order:3;
}
#contentImg img{
    width: 100%;
    transition:.5s;
    filter:drop-shadow(1px 5px 10px rgb(0, 0, 0)); 
    
}
#contentImg img:hover{
    scale: 1.05;
}

@media (max-width: 768px) {
    #contentImg {
      display: none;
    }
    #section1{
        padding-top: 10%;
    }
  }

  @media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
  }

  /* formSignup */
  #formSignup{
    margin: 15%;
  }
  #formSignup label{
   margin: 0;
  }
  
  #formSignup input{
    border:.2px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }


  .modal-content{
    background-color:black;
  }
  #typeOfUser{
    padding: 10px;
    border-radius: 10px;
  }

  .modal-content{
    background-color:rgba(0, 100, 8, 0.171) !important;
    backdrop-filter: blur(10px);
  }