

#forLogo img{
    width: 50px;
}

#forSignin  {
    background-color: #387F39;
    border-radius: 8px;
    text-decoration: none;
    color:white;
    padding: 5px 30px 5px 30px;
    transition: 1s;
    border: 1px solid #387F39;
}
#forSignin:hover{
    background-color: transparent;
    color:#387F39;
    border: 1px solid #387F39 ;
}

#signinCart a  {
    background-color: #387F39;
    border-radius: 8px;
    text-decoration: none;
    color:white;
    padding: 5px 30px 5px 30px;
    transition: 1s;
    border: 1px solid #387F39;
}
#signinCart a:hover{
    background-color: transparent;
    color:#387F39;
    border: 1px solid #387F39 ;
}

#signinCart img{
    width: 30px;
    background-color:#387F39;
    border-radius: 10%;
}
#signinCart img:hover{
    scale:1.05;
}
#menu button{
    background-color: transparent;
    border: none;
}
#menu img{
    width: 30px;

}
.nav-item a{
    font-weight: 400;
    color: gray;
}
.nav-item a:hover{
    color: black;
    font-weight: 500;
}
